body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}

.navbar-brand img{
    width: 400px;
    height: 75px;
}

li{
    font-family:'Nunito', sans-serif;
}
.dropdown-menu{
    background-color: #A8C867;
}

.title{
  margin-left: 6em;
  margin-bottom: 2em;
}
.sub-title-1{
  margin-left: 12em;
  margin-bottom: 2em;
}
.parrafo1{
  margin-left: 13em;
}
.parrafo2{
  margin-left: 11em;
}
.parrafo3{
  margin-left: 13em;
}
.sub-title-2{
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 12em;
}
.parrafo4{
  margin-left: 13em;
}
.parrafo5{
  margin-left: 11em;
  margin-bottom: 3em;
}

footer{
    background-color: #A8C867;
    color: white;
    font-family: 'Nunito', sans-serif;
  }

  footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2;
    font-weight: bold;
  }

  footer .logos{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer .logos img{
    width: 100%;
    padding: 3px;
    padding: 0px 15px;
  }
  @media (max-width:600px){
    .fondo img{
      display: none;
    }
    .navbar-brand img{
      max-width: 75%;
      height: auto;
      }
    .texto-uno p{
      margin-left: 0%;
      padding-left: 0%;
      text-align: left;
    }
    .texto-uno h1{
      margin-left 0%;
      padding-left: 0%;
      text-align: left;
      }
      .texto-uno h5{
        margin-left: 0%;
        padding-left: 0%;
        text-align: left;}
       }